<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<body>
    <div class="container mx-auto h-screen">
        <div class="flex flex-col justify-center items-center h-full">
            <div class="main text-center w-full">
                <h1 class="text-4xl font-bold">Enter Product URL</h1>
                <p class="text-xs text-gray-500">Note: Only amazon urls are supported for now</p>
                <form class="w-full" method="post" action="/">
                    {% csrf_token %}
                    <div class="flex justify-center">
                        <input type="text" name="url" id="url" class="w-1/2 border-2 border-gray-300 p-2 rounded-lg"
                            placeholder="Enter URL" required>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Submit</button>

                    </div>
                </form>
            </div>
            <div class="loader-section hidden">
                <h1 class="text-4xl font-bold">Running the analysis in realtime</h1>
                <p class="text-xs text-gray-500 text-center">Please wait...</p>
                <div class="flex justify-center items-center">
                    <div
                        class="loader ease-linear rounded-full border-2 border-t-2 border-gray-200 h-8 w-8 my-4 text-center">
                    </div>
                </div>



            </div>
            <div id="product-section" class="w-1/2">

            </div>

        </div>
        <!-- Loading spinner -->
        <style>
            .loader {
                border-top-color: #5534db;
                -webkit-animation: spinner 1.5s linear infinite;
                animation: spinner 1.5s linear infinite;
            }

            @-webkit-keyframes spinner {
                0% {
                    -webkit-transform: rotate(0deg);
                }

                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spinner {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <script>

            const url = document.querySelector('#url');
            const loader = document.querySelector('.loader-section');
            const main = document.querySelector('.main');
            const form = document.querySelector('form');
            const productSectionEl = document.querySelector('#product-section');

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                loader.classList.remove('hidden');
                main.classList.add('hidden');

                const urlValue = url.value;
                const csrftoken = getCookie('csrftoken');

                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        url: urlValue
                    })
                }).then(res => res.json())
                    .then(data => {
                        console.log(data);
                        loader.classList.add('hidden');
                        const sentiment = data.sentiment;
                        const { name, price } = data.product_detail;
                        url.value = '';

                        let recommendationText = ""
                        const negative = sentiment[1];
                        const positive = sentiment[0];

                        if (negative < 20) {
                            recommendationText = `The product has a very good sentiment. You can go ahead and buy it.`
                        } else if (negative < 40 && negative > 20) {
                            recommendationText = `The product has a mixed sentiment. You can consider buying it.`

                        } else {
                            recommendationText = `The product has a bad sentiment. You should not buy it.`
                        }



                        productSectionEl.innerHTML = `
                        <div class=bg-purple-300 p-2">
                            <p>Product Name: <span class="font-bold text-md">${name}</span></p>
                            <p>Price: ${price ? price : "Not Available"}</p>
                        </div>
                        <br />
                        <canvas id="myChart"></canvas>
                        <br />
                        <p class=bg-purple-300 p-2">${recommendationText}</p>
                        `;

                        const ctx = document.getElementById('myChart');
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Positive', 'Negative', 'Neutral',],
                                datasets: [{
                                    label: 'Sentiment in %',
                                    data: sentiment,
                                    borderWidth: 1,
                                    backgroundColor: '#E78FEE',
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    })
            })


            // JavaScript function to get cookie by name; retrieved from https://docs.djangoproject.com/en/3.1/ref/csrf/
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
</body>

</html>